server:
  port: 8090

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/shkaf
    username: admin
    password: 12345
  flyway:
    baseline-on-migrate: true